@media screen and (max-width: 768px) {
  body { 
    justify-content: center;  
    margin-left: 100px;}

 }

body {background-color: rosybrown;}

.contact {
    margin: 65px;    
}

.image {
  margin-bottom: 40px;
}

.col-md-3 {
  background-color: seashell;
  width: 400px;
}

.container {
  width: 600px;
}

 

