@media screen and (max-width: 770px) {
  body { 
    justify-content: center;  
    margin-left: 100px;}



 }

body {background-color: rgb(231, 185, 185);}

.contact {
    margin: 65px; 
    background-color: seashell; 
    width: 300px; 
    padding: 30px; 
}

.image {
  margin-bottom: 40px;
}

.col-md-4 {
  background-color: seashell;
  width: 400px;
}

.container {
  width: 600px;
}

 h1, h2 {
   display: inline;
   background-color: seashell;
   padding: 5px;
  
}

